.container2{
    padding-left: 5%;
    padding-right: 5%;
}

.img-class {
    width: 100vw;
    height: 40vh;
    max-width: 100%;;
}

.end{
    margin-bottom: 11%;

}

.container2{
    margin-top: 2%;
    padding-top: 1%;
}
